*{
font-family: 'Dosis', sans-serif;
box-sizing:border-box;
}

.loginMainContainer{
    width: 100vw;
    height: 100vh;
    background-image: url("./authPhotos/homePic.jpg");
    background-size: cover;
    border: black solid 1px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 43vw;
    height: 55vh;
    border: black solid 5px;
    padding: 7% 14%;
    background-color: rgba(248,248,255,0.8);
    border-radius: 8px;
}
.loginText{
    font-size: 30px;
    margin: 10px;
    font-weight: bolder;
}
.loginLabel,.loginInput{
margin: 4%;
}
.loginInput{
border: 1px solid black;
border-radius: 6px;
width:100%;
padding: 15px;
}
.loginBut{
padding: 5% 10%;
margin:8%;
font-weight: bolder;
border-radius: 12px;
font-size: 18px;
}
.loginBut:hover{
    background-color: chartreuse;
}
.signUpLink{
    font-size: 20px;
    color: blue;
}
.swal2-popup {
font-size: 20px;
background: #803C24ff !important;
color: #E4D7CEff!important;
}
.swal2-popup .swal2-styled:focus {
    box-shadow: none !important;
}