*{
    font-family: Helvetica;
}

.signUpMainContainer{
    width: 100vw;
    height: 100vh;
    background-image: url("./authPhotos/homePic.jpg");
    background-size: cover;
    border: black solid 1px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signUpForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 52vh;
    border: black solid 5px;
    padding: 7% 14%;
    background-color: rgba(248,248,255,0.8);
    border-radius: 8px;
}
.signUpText{
    font-size: 30px;
    margin: 10px;
    font-weight: bolder;
}
.signUpLabel,loginInput{
margin: 4%;
}
.signUpInput{
border: 1px solid black;
border-radius: 6px;
width:100%;
padding: 15px;
}
.signUpBut{
padding: 5% 10%;
font-weight: bolder;
border-radius: 12px;
}
.signUpBut:hover{
    background-color: chartreuse;
}