*{
    font-family: Helvetica;
}

.addFormMainContainer{
    width: 100vw;
    height: 100vh;
    background-image: url("../photos/homePic.jpg");
    background-size: cover;
    border: black solid 1px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputField{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55vw;
    height: 65vh;
    border: black solid 5px;
    padding: 7% 14%;
    background-color: rgba(248,248,255,0.8);
    border-radius: 8px;
}
.addFormText{
    font-size: 30px;
    margin: 10px;
    font-weight: bolder;
}
.addFormInput,.addBut{
margin: 4%;
}
.addFormInput{
border: 1px solid black;
border-radius: 6px;
width:100%;
padding: 15px;
}
.placeInput{
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.placeFormInput{
    border: none;
}
.placeFormInput:focus,
textarea:focus,
select:focus,
a:focus {
  outline: none;
}
.addBut{
padding: 2% 5%;
font-weight: bolder;
border-radius: 12px;
}
.addBut:hover{
    background-color: chartreuse;
}
.geolocationBut {
    background: white;
    border: none;
}
.photoInputContainer{
    border: 1px solid black;
    border-radius: 6px;
    width:100%;
    padding: 15px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.uploadBut{
}