.contactMainContainer{
    width: 100vw;
    height: 100vh;
    background-image: url("../photos/background.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titleContactContainer{
    width:35vw;
    height:50vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    box-shadow: 0 3px 10px #00000033;
    transform: translate(-20px, -120px);
    padding: 2% 3%;
    background-color: rgba(79, 70, 61,0.7) ;
    border-radius: 8px;
    box-shadow: 10px 10px 50px #E4D7CEff;
    color:#E4D7CEff;
    }
.contactTitle{
font-size: 26px;
font-family: 'Dosis', sans-serif;
font-weight: bolder;
text-align: justify;
line-height: 1.6;
}