.footerContainer{
    width:100vw;
    display: flex;
    justify-content: space-around;
    background-color: #E4D7CEff;
}
.footerItem{
   margin: 1%;
   font-size: 20px;
}
.footerItemText{
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
    color: #803C24ff;
    text-decoration: none;
}