.homeMainContainer{
width: 100vw;
height: 100vh;
background-image: url("../photos/background.jpg");
background-size:cover;
display: flex;
justify-content: center;
align-items: center;
}
.titleContainer{
box-shadow: 0 3px 10px #00000033;
transform: translateY(-100px);
padding: 4% 8%;
background-color: rgba(79, 70, 61,0.7) ;
border-radius: 8px;
box-shadow: 10px 10px 10px #E4D7CEff;
color:#E4D7CEff;
}
.homeTitle{
    font-size: 30px;
    font-family: 'Dosis';
}

