.navBarContainer{
display: flex;
justify-content: space-around;
align-items: center;
font-size: 20px;
background-color: #47362Dff;
}
.navItem{
padding:1%;
}
.navItem:hover{
background-color: rgba(238, 227, 216,0.1);
border-radius:8px;
}
.navText{
border-radius: 18px;
font-family: 'Dosis', sans-serif;
text-decoration: none;
color: #E4D7CEff;
font-weight: bolder;
}
.imageLogoNavbar{
    width:90px;
}
